@import '../../css/utils';

.MuiPaper-root {
	max-width: 80% !important;
}

.userList {
	h1 {
		font-family: $font-family;
		font-size: $font-size-desktop-h1;
		color: $black;
		font-weight: 700;
	}
	min-height: 500px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-content: center;
	justify-content: center;
}
.modal {
	width: 80%;
}

.divTable {
	padding-top: 10px;
	max-width: 80%;
	overflow-x: auto;
}

@media screen and (max-width: 640px) {
	.divTable {
		padding-top: 10px;
		max-width: 400px;
		overflow-x: auto;
	}
}

@media screen and (max-width: 375px) {
	.divTable {
		padding-top: 10px;
		max-width: 350px;
		overflow-x: auto;
	}
}

@media screen and (max-width: 360px) {
	.divTable {
		padding-top: 10px;
		max-width: 350px;
		overflow-x: auto;
	}
}

@media screen and (max-width: 320px) {
	.divTable {
		padding-top: 10px;
		max-width: 320px;
		overflow-x: auto;
	}
}
