// site colors
$white: #FFFFFF;
$black: #000000;
$aqua: #00FFB2;
$darkAqua: #00F2AD;
$rose: #f8c1ce;
$darkRose: #f76f8e;
$blue: #184A9C;
$darkBlue:#003C4C;
$darkestBlue: #29324D;
$red: #FF4343;
$darkRed: #E53E3E;
$violet: #623cea;
$offWhite: #f8f4f3;
$lavender: #9f88f0;
$darkSlateGray:#004a64;
$turquoise-blue: #00b9d1;
$light-aqua: #97fae9;



