@import "../../css/utils.scss";

.footer {
  min-height: 62px;
  display: flex;
  background: $darkSlateGray;
  padding-left: 1%;
  padding-right: 1%;
  padding-top: 12px;
  color: $white;
  h1 {
    font-family:  $font-family;
    font-size: $font-size-mobile-h2;
  }
  justify-content: center;
}

.left{
  background: $darkSlateGray;
  min-width:10%;
  width:10%;
}
